/* Basic reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.0;
}

/* Center content and give some spacing */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Style for header */
header, footer, nav {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1, h1, h2 {
  font-size: 24px;
  color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style for main content area */
main {
  flex: 1;
  padding: 20px;
}

/* Form Styles */
form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 0.7rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

button {
  background-color: #4CAF50;
}

button:hover {
  background-color: #45a049;
}

/* Specific Containers and Sections */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

section {
  padding: 40px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Utility Classes */
.centered-text {
  text-align: center;
}

.smaller-font {
  font-size: 20px;
}

.bigger-font {
  font-size: 32px;
}

/* Header and Search */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
}

.search-container {
  position: relative;
}

.search-container input[type="text"] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button[type="submit"] {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cylindrical Link */
.cylindrical-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.cylindrical-link {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transform: translateY(-20px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 160px;
}

.cylindrical-link a {
  display: block;
  position: relative;
  z-index: 1;
}

.cylindrical-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 50%;
  background-color: #4CAF50;
  border-radius: 50%;
  z-index: -1;
}

/* Newsletter Section */
.newsletter-section {
  text-align: center;
  margin-top: 10px;
}

.newsletter-section p {
  margin-bottom: 5px;
}

.newsletter-section input[type="email"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.newsletter-section button[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.newsletter-section button[type="submit"]:hover {
  background-color: #45a049;
}
